In [1]:
import pandas as pd
my_data = pd.read_csv('sample_data.csv', header=0, nrows=3, skiprows=range(1,10), dtype={'ID':int}) #Creates a dataframe. Read 3 rows after skipping first 10, skip rows can also take a function
#print(my_data.columns)
#print(my_data['Address'])
print(my_data)
print(my_data['ID'].dtype)

     ID    num        Date                           Address
0  4141  13021  1607472343                 831-4189 Nunc Av.
1  7946  28308  1647566662                   4692 Augue. Rd.
2  9464   3154  1611525228  P.O. Box 255, 3515 Facilisis Av.
int32

In [ ]:
import pandas as pd
import re
import datetime

def func1(Address):
    Address = Address.split()
    return Address



#my_data = pd.read_csv('sample_data.csv', dtype={'Address':str})
#print(my_data.iloc[2]["Address"])

my_data = pd.read_csv('sample_data.csv', converters={'Address': func1, 'ID':float}, parse_dates=['Date'])

print(my_data.dtypes)

my_data['Date'] = pd.to_datetime(my_data['Date'], unit = 's') #Convert epoch to human readable time

print(my_data.iloc[0])
print(type(my_data['Date'][0]))
print(datetime.datetime.now())

In [15]:
import pandas as pd

data_frame = pd.read_csv("sample_data.csv", converters={'Address': list}, na_filter=True)
print(type(data_frame["Address"]))
print(data_frame.head(10))

<class 'pandas.core.series.Series'>
     ID    num        Date                                            Address
0  1572  99248  1618793311   [3, 5, 5, -, 6, 4, 8, 7,  , S, e, d,  , S, t, .]
1  8239  63886  1639957821   [1, 9, 3, -, 2, 8, 8, 9,  , D, i, s,  , R, d, .]
2  2424  78714  1627472605  [A, p,  , #, 7, 7, 1, -, 5, 5, 0,  , O, r, n, ...
3  2645  98313  1631805640  [P, ., O, .,  , B, o, x,  , 1, 2, 0, ,,  , 1, ...
4  4104  64222  1591766292  [A, p,  , #, 4, 2, 9, -, 3, 2, 7, 5,  , T, i, ...
5  4958   7620  1645693631  [1, 5, 0, -, 6, 4, 6, 5,  , M, a, t, t, i, s, ...
6  1978  20617  1587213829  [3, 4, 6, -, 4, 4, 9, 3,  , V, e, s, t, i, b, ...
7   173  18564  1628169079                                                 []
8  2405   3165  1638661690   [2, 8, 8, -, 3, 9, 9,  , V, e, l, ,,  , A, v, .]
9  4141  13021  1607472343  [8, 3, 1, -, 4, 1, 8, 9,  , N, u, n, c,  , A, ...

In [18]:
import pandas as pd
my_data_frame = pd.read_csv("sample_data2.csv", delimiter='\t')

print(my_data_frame.head(10))

print(my_data_frame.to_csv("trash.txt"))

if os.path.isfile("trash.txt"):
    os.remove("trash.txt")

      Name                                               text  Currency
0     Clio  eu, accumsan sed, facilisis vitae, orci. Phase...       100
1   Ashton  elementum, dui quis accumsan convallis, ante l...       100
2     John  tempus eu, ligula. Aenean euismod mauris eu el...       100
3     Lucy  est. Nunc ullamcorper, velit in aliquet lobort...       100
4    Louis  Quisque nonummy ipsum non arcu. Vivamus sit am...       100
5     Xena  metus. In nec orci. Donec nibh. Quisque nonumm...       100
6  Georgia  molestie. Sed id risus quis diam luctus lobort...       100
7    Fritz  non, bibendum sed, est. Nunc laoreet lectus qu...       100
8   Miriam  elementum, lorem ut aliquam iaculis, lacus ped...       100
9  Latifah  quam a felis ullamcorper viverra. Maecenas iac...       100
None

In [36]:
import pandas as pd

data_frame = pd.read_json("sample_data3.json")
print(data_frame.iloc[0]["ID"])

992505

In [29]:
import pandas as pd

mydict = {'one': [1,2,3], 2: [4,5,6,7], 3: 8}
dict_df = pd.DataFrame({ key:pd.Series(value) for key, value in mydict.items() })

print(dict_df)

   one  2    3
0  1.0  4  8.0
1  2.0  5  NaN
2  3.0  6  NaN
3  NaN  7  NaN

In [48]:
import pandas as pd
import xml.etree.ElementTree as et

data = []
cols = []

with open("sample_data4.xml") as f:
    xtree = et.parse("sample_data4.xml")
    xroot = xtree.getroot()
    rows = []
    df_cols = ["ID", "num", "Date", "Address"]
    for node in xroot:
        res = []
        
        for el in df_cols:
            if node is not None and node.find(el) is not None:
                res.append(node.find(el).text)
            else:
                res.append(None)
        
        rows.append({df_cols[i]: res[i]
                    for i, _ in enumerate(df_cols)})
        
    
    out_df = pd.DataFrame(rows, columns=df_cols)
    print(out_df.head(3))

       ID num        Date                     Address
0    9555   1  1598942951     396-9406 Fringilla. Rd.
1  110990   2  1692737752  Ap #943-7375 Tincidunt Rd.
2  692042   3  2008102780           3607 Enim, Street

In [27]:
import pandas as pd
import matplotlib.pyplot as plt

load_excel = pd.read_excel("sample_data5.xlsx", sheet_name=0) #, sheet_name=0 make load_excel a dict instrad of data frame

print(type(load_excel))



#load_excel.plot(x="ID", y="num", kind='bar') Only works on data frames but load_excel is a dict

<class 'pandas.core.frame.DataFrame'>

In [13]:
import pandas as pd
from sqlalchemy import create_engine

#MYSQL Connection
MYSQL_USER = 'root'
MYSQL_PASSWORD = 'password'
MYSQL_HOST_IP = '127.0.0.1'
MYSQL_PORT = '3306'
MYSQL_DATABASE = 'default'

query = open("create_load_table.sql")
engine = create_engine('mysql://' + MYSQL_USER + ':' + MYSQL_PASSWORD + '@' + MYSQL_HOST_IP + ':' + MYSQL_PORT + '/' + MYSQL_DATABASE, echo=True)
#db_connection = sql.connect(host=MYSQL_HOST_IP, database=MYSQL_DATABASE, user=MYSQL_USER, password=MYSQL_PASSWORD)

'''
engine = create_engine(('mysql+mysqlconnecttor://{}:{}@{}{}/{}').format(MYSQL_USER, MYSQL_PASSWORD, MYSQL_HOST_IP, MYSQL_PORT, MYSQL_DATABASE))
with engine.connect() as connection:
'''

with engine.connect() as connection:
    df = pd.read_sql(query.read(), connection)

query.close()

2021-03-30 22:42:41,670 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-03-30 22:42:41,671 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-03-30 22:42:41,689 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-03-30 22:42:41,691 INFO sqlalchemy.engine.Engine [generated in 0.00063s] ()
2021-03-30 22:42:41,695 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2021-03-30 22:42:41,696 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-03-30 22:42:41,701 INFO sqlalchemy.engine.Engine SELECT * FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2021-03-30 22:42:41,701 INFO sqlalchemy.engine.Engine [generated in 0.00060s] ('default', 'use `default`;\n\nDROP TABLE IF EXISTS `table1`;\n\nCREATE TABLE `table1` (\n  `id` mediumint(8) unsigned NOT NULL auto_increment,\n  `num` mediumint ... (2070 characters truncated) ... 34474,39,"1772541079","P.O. Box 251, 7096 Magnis St."),(698717,40,"1840015716","632-7960 Et St."),(27808,41,"1663585013","Ap #976-2464 Ante Street");')
2021-03-30 22:42:41,711 INFO sqlalchemy.engine.Engine use `default`;

DROP TABLE IF EXISTS `table1`;

CREATE TABLE `table1` (
  `id` mediumint(8) unsigned NOT NULL auto_increment,
  `num` mediumint,
  `Date` varchar(255),
  `Address` varchar(255) default NULL,
  PRIMARY KEY (`id`)
) AUTO_INCREMENT=1;

INSERT INTO `table1` (`ID`,`num`,`Date`,`Address`) VALUES (461640,1,"1721208967","P.O. Box 928, 6705 Erat St."),(184904,2,"1617742378","1197 Tristique Ave"),(949082,3,"1983337849","Ap #791-2299 Laoreet Ave"),(206387,4,"1841318893","198-4189 Ligula. Av."),(881054,5,"1986069712","P.O. Box 513, 1942 Proin Av."),(272776,6,"1830411188","Ap #908-9309 Euismod Av."),(163189,7,"1597676413","Ap #776-888 Donec St."),(762221,8,"1944768073","P.O. Box 233, 797 Odio. Rd."),(530523,9,"1850001689","243-705 Felis. Avenue"),(593715,10,"1728094846","Ap #903-6360 Lacinia Rd."),(265979,11,"1590375964","786-856 Ligula Road"),(669772,12,"1796311449","259-4962 Mauris Av."),(642467,13,"1605806254","Ap #331-5224 Mi Avenue"),(33315,14,"1991753289","P.O. Box 951, 8608 Velit Ave"),(437524,15,"1725537416","7628 Sed Rd."),(169608,16,"1813330794","1859 Tellus St."),(840332,17,"1588168599","Ap #405-9030 Ultrices Rd."),(86660,18,"1811771625","P.O. Box 709, 7058 Facilisi. Avenue"),(950659,19,"1820849990","851-6767 Non, Street"),(959643,20,"1820209433","886-6668 Ultrices. Road"),(233901,21,"1798761652","739-9267 Sodales. St."),(366761,22,"1829757996","612-7637 Vulputate, Ave"),(573654,23,"1896144567","946-2270 Eget St."),(664363,24,"2005149137","532-9727 Tortor, Rd."),(433029,25,"1785205336","713-4561 Bibendum. St."),(23544,26,"1767334254","9745 Nulla. Street"),(877970,27,"1843260827","258 Sociis St."),(579125,28,"1959805855","1548 Imperdiet Rd."),(787768,29,"1753112498","P.O. Box 382, 809 Adipiscing Av."),(253531,30,"1675829781","983-9785 Nec Rd."),(431860,31,"1779711312","P.O. Box 153, 1699 Velit St."),(428107,32,"1830352100","P.O. Box 379, 5511 Id, Road"),(760942,33,"1802508924","4704 Proin Street"),(972826,34,"1664114217","P.O. Box 441, 6172 Dictum. Rd."),(797908,35,"1794239033","P.O. Box 545, 405 Sed Street"),(447651,36,"1957392144","7299 Mattis. Avenue"),(596945,37,"1720215753","Ap #776-5097 Pellentesque St."),(988715,38,"1973481539","590 Donec Avenue"),(34474,39,"1772541079","P.O. Box 251, 7096 Magnis St."),(698717,40,"1840015716","632-7960 Et St."),(27808,41,"1663585013","Ap #976-2464 Ante Street");
2021-03-30 22:42:41,713 INFO sqlalchemy.engine.Engine [raw sql] ()

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [19]:
from sqlalchemy import text
#MYSQL Connection
MYSQL_USER = 'root'
MYSQL_PASSWORD = 'password'
MYSQL_HOST_IP = '127.0.0.1'
MYSQL_PORT = '3306'
MYSQL_DATABASE = 'default'
engine = create_engine('mysql://' + MYSQL_USER + ':' + MYSQL_PASSWORD + '@' + MYSQL_HOST_IP + ':' + MYSQL_PORT + '/' + MYSQL_DATABASE, echo=True)

with engine.connect() as connection:
    connection.exec_driver_sql("INSERT INTO `table1` (`ID`,`num`,`Date`,`Address`) VALUES (4616401,11,'1721208968','P.O. Box 928, 6705 Erat St.')")

2021-03-30 23:00:26,330 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-03-30 23:00:26,331 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-03-30 23:00:26,334 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-03-30 23:00:26,335 INFO sqlalchemy.engine.Engine [generated in 0.00086s] ()
2021-03-30 23:00:26,339 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2021-03-30 23:00:26,339 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-03-30 23:00:26,343 INFO sqlalchemy.engine.Engine INSERT INTO `table1` (`ID`,`num`,`Date`,`Address`) VALUES (4616401,11,'1721208968','P.O. Box 928, 6705 Erat St.')
2021-03-30 23:00:26,343 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-03-30 23:00:26,345 INFO sqlalchemy.engine.Engine COMMIT

In [34]:

from sqlalchemy import text
#MYSQL Connection
MYSQL_USER = 'root'
MYSQL_PASSWORD = 'password'
MYSQL_HOST_IP = '127.0.0.1'
MYSQL_PORT = '3306'
MYSQL_DATABASE = 'default'

#https://docs.sqlalchemy.org/en/14/core/engines.html

engine = create_engine('mysql://' + MYSQL_USER + ':' + MYSQL_PASSWORD + '@' + MYSQL_HOST_IP + ':' + MYSQL_PORT + '/' + MYSQL_DATABASE, echo=True)

query = open("create_load_table.sql")

engine.execute(open("create_load_table.sql", "r").read())

2021-03-31 00:03:24,013 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-03-31 00:03:24,013 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-03-31 00:03:24,017 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-03-31 00:03:24,017 INFO sqlalchemy.engine.Engine [generated in 0.00070s] ()
2021-03-31 00:03:24,021 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2021-03-31 00:03:24,022 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-03-31 00:03:24,025 INFO sqlalchemy.engine.Engine

DROP TABLE IF EXISTS `default.table1`;

CREATE TABLE `default.table1` (
  `id` mediumint(8) unsigned NOT NULL auto_increment,
  `num` mediumint,
  `Date` varchar(255),
  `Address` varchar(255) default NULL,
  PRIMARY KEY (`id`)
) AUTO_INCREMENT=1;

INSERT INTO `default.table1` (`ID`,`num`,`Date`,`Address`) VALUES (461640,1,"1721208967","P.O. Box 928, 6705 Erat St."),(184904,2,"1617742378","1197 Tristique Ave"),(949082,3,"1983337849","Ap #791-2299 Laoreet Ave"),(206387,4,"1841318893","198-4189 Ligula. Av."),(881054,5,"1986069712","P.O. Box 513, 1942 Proin Av."),(272776,6,"1830411188","Ap #908-9309 Euismod Av."),(163189,7,"1597676413","Ap #776-888 Donec St."),(762221,8,"1944768073","P.O. Box 233, 797 Odio. Rd."),(530523,9,"1850001689","243-705 Felis. Avenue"),(593715,10,"1728094846","Ap #903-6360 Lacinia Rd."),(265979,11,"1590375964","786-856 Ligula Road"),(669772,12,"1796311449","259-4962 Mauris Av."),(642467,13,"1605806254","Ap #331-5224 Mi Avenue"),(33315,14,"1991753289","P.O. Box 951, 8608 Velit Ave"),(437524,15,"1725537416","7628 Sed Rd."),(169608,16,"1813330794","1859 Tellus St."),(840332,17,"1588168599","Ap #405-9030 Ultrices Rd."),(86660,18,"1811771625","P.O. Box 709, 7058 Facilisi. Avenue"),(950659,19,"1820849990","851-6767 Non, Street"),(959643,20,"1820209433","886-6668 Ultrices. Road"),(233901,21,"1798761652","739-9267 Sodales. St."),(366761,22,"1829757996","612-7637 Vulputate, Ave"),(573654,23,"1896144567","946-2270 Eget St."),(664363,24,"2005149137","532-9727 Tortor, Rd."),(433029,25,"1785205336","713-4561 Bibendum. St."),(23544,26,"1767334254","9745 Nulla. Street"),(877970,27,"1843260827","258 Sociis St."),(579125,28,"1959805855","1548 Imperdiet Rd."),(787768,29,"1753112498","P.O. Box 382, 809 Adipiscing Av."),(253531,30,"1675829781","983-9785 Nec Rd."),(431860,31,"1779711312","P.O. Box 153, 1699 Velit St."),(428107,32,"1830352100","P.O. Box 379, 5511 Id, Road"),(760942,33,"1802508924","4704 Proin Street"),(972826,34,"1664114217","P.O. Box 441, 6172 Dictum. Rd."),(797908,35,"1794239033","P.O. Box 545, 405 Sed Street"),(447651,36,"1957392144","7299 Mattis. Avenue"),(596945,37,"1720215753","Ap #776-5097 Pellentesque St."),(988715,38,"1973481539","590 Donec Avenue"),(34474,39,"1772541079","P.O. Box 251, 7096 Magnis St."),(698717,40,"1840015716","632-7960 Et St."),(27808,41,"1663585013","Ap #976-2464 Ante Street");
2021-03-31 00:03:24,026 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-03-31 00:03:24,178 INFO sqlalchemy.engine.Engine COMMIT